footer.footer
    .footer_wrap
        .copyright
            p 2016-2017 &copy; Agent24. АН &laquo;22 Столетие&raquo;. Все права защищены.
            p email: 
                a(href="mailto:info@agent24.ua") info@agent24.ua
        ul.links
            li: a(href="#") Политика безопасности
            li: a(href="#") Правила
            li: a(href="#") Вопросы и ответы
            li: a(href="#") Техническая поддержка
    a(href="#header").chevron_up
        i.fa.fa-chevron-up(aria-hidden='true')
