header#header.header
    .wrap_logo_burger
        .burger
            .burger_line
            .burger_line
            .burger_line
        .logo: img.logo_picture(src="images/logo.png" alt="logo")
        .logo_text Система управления<br>агенством недвижимости
    .inform
        .item.currency
            i.fa.fa-usd(aria-hidden='true')
            span курс доллара: 26.3 / 28.9
        .item.location
            i.fa.fa-map-marker(aria-hidden='true')
            a(href="#") Днепропетровск
        .item.alarm
            i.fa.fa-bell-o(aria-hidden='true')
            span +5 / 20
        .item.shopping_basket
            i.fa.fa-shopping-cart(aria-hidden='true')
            span +2
        .item.profile
            img(src="images/profile.png" alt="profile")
            a(href="#") Брюс Виллис
    a(href="#").arrow
            i.fa.fa-arrow-circle-right    
                    
