main
    p.title_404 Популярные разделы
    p.text_404 Возможно вы искали следующую информацию:
    ul
        li: a(href="#") Вопросы и ответы
        li: a(href="#") Документация по системе
        li: a(href="#") Задать вопрос в сапорт
        li: a(href="#") Видео по разделам системы
        li: a(href="#") Кейсы успешных риэлторов
    p.text_404
      | Если Вы не нашли нужную Вам информацию, напишите к нам письмо, возможно мы сможем Вам помочь. 
      a(href='#') support@agent24.ua
    .pic_404
        img(src="images/pic_404.png" alt="picture")
        a(href="mailto:support@agent24.ua") Написать нам письмо