.footer {
    height: 130px;
    padding: 20px 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .footer_wrap {
        display: flex;
        align-items: flex-start;
    }

    .copyright {

        p {
            margin: 0;
        }
        a {
            color: #0097a7;
        }
    }

    .links {
        margin: 0;
        display: flex;
        align-items: flex-start; //margin-right: 100px;
        @media (max-width: 560px) {
            display: none;
        }

        li {
            text-align: center;
            margin-right: 20px;

            a {
                color: #242424;

                &:hover {
                    color: #0097a7;
                }


            }

        }
    }

    .chevron_up {
        padding: 20px;
        border-radius: 50%;
        background: #f4f5f7;
        box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);


        .fa-chevron-up {
            color: #242424;

        }
    }


    @media (max-width: 1245px) {
        font-size: 12px;
    }
}